body {
	box-sizing: border-box;
	padding: 25px 250px;
	margin: 0;
}

/* header */
.boxHeader {
	padding: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-radius: 15px;
	background-color: #b8e89c;
}

.circleRed {
	width: 60px;
	height: 60px;

	border-radius: 50%;
	background-color: #ff3131;
}

.navBox ul {
	display: flex;
	gap: 10px;
}

.navBox li {
	width: 110px;
	height: 40px;
	margin-right: 17px;

	background-color: #ff3131;
	list-style: none;
}

.purpleBox {
	height: 85px;

	border-radius: 15px;
	background-color: #4b39b5;
}

/* main */
.listBox {
	background-color: #94d1e4;
	border-radius: 28px;
	padding: 10px 0;
}

.listBox ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.listBox li {
	width: 693px;
	height: 60px;

	list-style: none;
	border-radius: 7px;
	background-color: #ffc1d7;
}

.cardsBox {
	background-color: #ff8a63;
	padding: 8px 0;
}

.cardsBox ul {
	display: flex;
	gap: 15px;
}

.cardsBox li {
	width: 221px;
	height: 170px;

	list-style: none;
	background-color: #94d1e4;
}

/* footer */
.adverstisingBox ul {
	padding: 0;
	display: flex;
	justify-content: space-between;

	gap: 20px;
}

.adverstisingBox li {
	width: 360px;
	height: 75px;

	border-radius: 5px;
	list-style: none;
	background-color: #4b39b5;
}

.circles {
	display: flex;
	gap: 30px;
}
